<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

    <context:component-scan base-package="com.canyan7n.spring.aop.xml"></context:component-scan>

    <aop:config>
        <aop:pointcut id="pointcut" expression="execution(* com.canyan7n.spring.aop.xml.CalculatorImpl.*(..))"/>
        <aop:aspect ref="logAspect">
            <aop:before method="beforeAdvancedMethod" pointcut-ref="pointcut"></aop:before>
            <aop:after-returning method="afterRunAdvanceMethod" returning="result" pointcut-ref="pointcut"></aop:after-returning>
            <aop:after-throwing method="afterThrAdvanceMethod" throwing="ex" pointcut-ref="pointcut"></aop:after-throwing>
            <aop:after method="afterAdvancedMethod" pointcut-ref="pointcut"></aop:after>
        </aop:aspect>
        <aop:aspect ref="validAspect" order="1">
            <aop:before method="beforeAdvancedMethod" pointcut-ref="pointcut"></aop:before>
        </aop:aspect>
    </aop:config>
</beans>