<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canyan7n.mybatis.mapper.EmpMapper">
    <!--
        mapper接口和映射文件要保证两个一致
        1.mapper接口的全类名和映射文件的namespace的id值保持一致
        2.mapper接口中的方法的方法名要和映射文件的sql的id值保持一致
    -->

    <resultMap id="EmpResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
    </resultMap>

<!--    Emp getEmpById(@Param("emp_id") int emp_id);-->
    <select id="getEmpById" resultMap="EmpResultMap">
        select * from emp where emp_id = #{emp_id}
    </select>
    <select id="getEmpByIdOld" resultType="Emp">
<!--        select emp_id empId,emp_name empName,age,gender from emp where emp_id = #{emp_id}-->
        select * from emp where emp_id = #{emp_id}
    </select>
</mapper>
