<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.canyan7n.mybatis.mapper.EmpMapper">
    <!--
        mapper接口和映射文件要保证两个一致
        1.mapper接口的全类名和映射文件的namespace的id值保持一致
        2.mapper接口中的方法的方法名要和映射文件的sql的id值保持一致
    -->

<!--    一对一               -->
    <resultMap id="EmpResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
    </resultMap>
<!--    Emp getEmpById(@Param("emp_id") int emp_id);-->
    <select id="getEmpById" resultMap="EmpResultMap">
        select * from emp where emp_id = #{emp_id}
    </select>
    <select id="getEmpByIdOld" resultType="Emp">
<!--        select emp_id empId,emp_name empName,age,gender from emp where emp_id = #{emp_id}-->
        select * from emp where emp_id = #{emp_id}
    </select>

<!--    多对一-->
    <resultMap id="empAndDeptResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <result column="dept_id" property="dept.deptId"></result>
        <result column="dept_name" property="dept.deptName"></result>
    </resultMap>
    <resultMap id="empAndDeptResultMapAsso" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <!--        association:处理多对一映射
                    property:处理的实体类属性，javaType:属性的类型
                    column字段名property实体类属性的成员属性名-->
        <association property="dept" javaType="Dept">
            <id column="dept_id" property="deptId"></id>
            <result column="dept_name" property="deptName"></result>
        </association>
    </resultMap>

<!--    Emp getEmpAndDeptById(@Param("empId") Integer empId);-->
    <select id="getEmpAndDeptById" resultMap="empAndDeptResultMapAsso">
        select * from emp
        left join dept
        on emp.dept_id = dept.dept_id
        where emp_id = #{empId}
    </select>

<!--    分步-->
    <resultMap id="empAndDeptByStepResultMap" type="Emp">
        <id column="emp_id" property="empId"></id>
        <result column="emp_name" property="empName"></result>
        <result column="age" property="age"></result>
        <result column="gender" property="gender"></result>
        <!--    property映射的实体类属性
                select下一步查询的sql唯一标识
                column下一步查询的sql的查询条件-->
        <association property="dept"
                     select="com.canyan7n.mybatis.mapper.DeptMapper.getEmpAndDeptByStepTwo"
                     column="dept_id">
        </association>
    </resultMap>
<!--    Emp getEmpandDeptByStepOne(@Param("empId") Integer empId);-->
    <select id="getEmpandDeptByStepOne" resultMap="empAndDeptByStepResultMap">
        select * from emp where emp_id = #{empId}
    </select>

<!--    一对多-->
<!--    Emp getDeptAndEmpByStepTwo(@Param("empId") Integer empId);-->
    <select id="getDeptAndEmpByStepTwo" resultType="Emp">
        select * from emp where dept_id = #{deptId}
    </select>
</mapper>
