<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <param name="EnCoding" value="UTF-8"/>
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="[%p][%d{yyyy-MM-dd HH:mm:ss SSS}][%c]-[%m]%n" />
        </layout>
    </appender>

    <!-- 1. 指定logger的设置，additivity是否遵循缺省的继承机制 2. 当additivity="false"时，root中的配置就失灵了，不遵循缺省的继承机制
        3. 代码中使用Logger.getLogger("logDiy")获得此输出器，且不会使用根输出器 -->

    <logger name="java.sql">
        <level value="debug" />
    </logger>
    <logger name="org.apache.ibatis">
        <level value="info"></level>
    </logger>
    <root>
<!--        <priority value="debug" />-->
        <appender-ref ref="STDOUT" />
        <level value="debug" />
    </root>
</log4j:configuration>
